<app-header></app-header>

<main class="main-contenedor-info">
  <section class="grid-contenedor-info">
    <div class="buscador">
      <input
        class="input-campo_busqueda"
        type="text"
        name="search_box"
        #searchBox
        id="search-box"
      />
      <div class="buscador-button">
        <a href="#" (click)="search(searchBox.value, $event)"
          ><i class="iconoBuscar fas fa-search"></i
        ></a>
      </div>
    </div>
    <div
      [style.visibility]="patients.length == 0 ? 'visible' : 'hidden'"
      class="buscador-alert"
    >
      <div>
        <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
      </div>
      <p>No se encontraron datos relacionados. Por favor inténtelo de nuevo.</p>
    </div>
    <div>
      <div class="lista-pacientes-busqueda">
        <div class="lista-pacientes-titulo">
          <div>DOCUMENTO</div>
          <div>NOMBRES Y APELLIDOS PACIENTE</div>
        </div>
        <div
          class="lista-pacientes-contenido"
          *ngFor="let patient of patients"
          (click)="onSelect(patient)"
        >
          <div>CC. {{ patient.username }}</div>
          <div>{{ patient.firstName + " " + patient.lastName }}</div>
        </div>
      </div>
      <mat-paginator
        [length]="paginatorData.length"
        [pageSize]="paginatorData.pageSize"
        (page)="pageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
    <div class="cntenedor-info-paciente-resultado" *ngIf="selectedPatient">
      <div class="contenedor-info-paciente">
        <div class="contenedor-info-pacientes-izquierdo">
          <div>
            <span>{{
              selectedPatient?.firstName + " " + selectedPatient?.lastName
            }}</span>
          </div>
          <div>
            <span>cc. {{ selectedPatient?.username }} </span>
          </div>
          <div>
            {{ selectedPatient?.createdAt | date: "MMMM d, y":"-0500":"es" }}
          </div>
        </div>
        <div class="contenedor-info-pacientes-derecho">
          <div>{{ selectedPatient?.address }}</div>
          <div>{{ selectedPatient?.phone }}</div>
          <div>{{ selectedPatient?.email }}</div>
        </div>
      </div>
      <app-results-list [patient]="selectedPatient?.id"></app-results-list>
    </div>
  </section>
</main>

<app-footer></app-footer>
