<app-header></app-header>

<main class="main-contenedor-add-remisor">
  <form
    [formGroup]="medicForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <section class="grid-main-contenedor-add-remisor">
      <img src="images/img-remisores.png" />
      <div class="form-add-paciente">
        <div class="grid-form">
          <div class="form-campos-datos-personales">
            <div>
              <label for="firstName"><h2>Nombre / Razón social</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="firstName"
                id="firstName"
                #firstName
                formControlName="firstName"
              />
            </div>
            <div>
              <label for="lastName"><h2>Apellido</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="lastName"
                id="lastName"
                #lastName
                formControlName="lastName"
              />
            </div>
            <div>
              <label for="documentType"><h2>Tipo de documento</h2></label>
              <select
                name="documentType"
                id="documentType"
                #documentType
                formControlName="documentType"
                class="input-campo_texto"
              >
                <option value="1">Cédula</option>
                <option value="2">Documento de identidad</option>
                <option value="3">Pasaporte</option>
                <option value="4">NIT</option>
              </select>
            </div>
            <div>
              <label for="password"><h2>Contraseña</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="password"
                id="password"
                #password
                formControlName="password"
              />
            </div>
            <div>
              <label for="username"><h2>Número de documento</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="username"
                id="username"
                #username
                formControlName="username"
              />
            </div>
            <div>
              <label for="birthdate"><h2>Fecha de nacimiento</h2></label>
              <input
                class="input-campo_texto"
                type="date"
                name="birthdate"
                id="birthdate"
                #birthdate
                formControlName="birthdate"
              />
            </div>
            <div>
              <label for="address"><h2>Dirección consultorio</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="address"
                id="address"
                #address
                formControlName="address"
              />
            </div>
            <div>
              <label for="phone"><h2>Celular</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="phone"
                id="phone"
                #phone
                formControlName="phone"
              />
            </div>
            <div>
              <label for="email"><h2>Correo</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="email"
                id="email"
                #email
                formControlName="email"
              />
            </div>
            <div>
              <label for="email2"><h2>Correo 2</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="email2"
                id="email2"
                #email2
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contenedor-asignar-pacientes">
      <div class="grid-contenedor-asignar-pacientes">
        <h1 class="titulo-asiganar-paciente">Asignar paciente</h1>
        <div class="campo-documento-paciente">
          <h2>Documento del paciente</h2>
          <input class="input-campo_texto" type="text" name="" />
        </div>
        <div class="position-addbutton add-paciente-button">
          <button class="boton-sumit" type="text" name="password">
            AGREGAR PACIENTE
          </button>
        </div>
        <div class="position-addbutton-alerta buscador-alert">
          <div>
            <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
          </div>
          <p>
            No se encontraron datos relacionados. Por favor inténtelo de nuevo.
          </p>
        </div>
      </div>

      <div class="grid-contenedor-pasientes-asiganados">
        <h1 class="titulo-pacientes-asiganados">Pacientes asignados</h1>
        <div class="buscador">
          <input class="input-campo_busqueda" type="text" name="user" />
          <div class="buscador-button">
            <a href="#"><i class="iconoBuscar fas fa-search"></i></a>
          </div>
        </div>
        <div class="buscador-alert">
          <div>
            <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
          </div>
          <p>
            No se encontraron datos relacionados. Por favor inténtelo de nuevo.
          </p>
        </div>

        <!-- <div class="lista-pacientes-busqueda-seleccion"> -->
        <app-users-selectable-list
          role="patient"
          [term]="termPatient"
          [selectable]="false"
        ></app-users-selectable-list>
        <!-- </div> -->
      </div>

      <div class="add-paciente-button add-btn-remisor">
        <button
          class="boton-sumit"
          type="submit"
          name="submitButton"
          id="submitButton"
          #submitButton
          [disabled]="!medicForm.valid"
        >
          AGREGAR REMISOR
        </button>
        <p *ngIf="messages !== ''">{{ messages | json }}</p>
      </div>
    </section>
  </form>
</main>

<app-footer></app-footer>
