<header>
  <div class="nav-principal">
    <div class="nav-principal_contenedor">
      <a routerLink="/logout">Cerrar sesión</a>
    </div>
  </div>
  <div class="nav-banner">
    <div class="nav-grid-banner_logo">
      <div class="grid-logo-boton">
        <img src="images/logo-SD.png" alt="Logo" />
        <div class="regresar-button" *ngIf="router.url.includes('create-patient') || router.url.includes('update-patient')">
          <div class="agregar-button">
            <a routerLink="/admin"
              ><i class="icono-agregar fas fa-arrow-left"></i
            ></a>
          </div>
          <a routerLink="/admin"><p class="regresar">Regresar</p></a>
        </div>
      </div>

      <div class="nav-titulos">
        <h1>{{ navTitles }}</h1>
        <div class="info-usuario" *ngIf="nameUser !== ''">
          <p class="nombre-usuario">{{ nameUser }}</p>
          <p class="documento-usuario" *ngIf="documentUser">
            {{ documentUser }}
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
