<header>
  <div class="nav-principal">
    <div class="nav-principal_contenedor">
      <a href="#">Cerrar sesión</a>
    </div>
  </div>
  <div class="nav-banner">
    <div class="nav-grid-banner_logo">
      <img src="../../assets/logo-SD.png" alt="Logo" />
      <div class="nav-titulos">
        <h1>Pacientes remitidos</h1>
        <div class="info-usuario">
          <p class="nombre-usuario">Dr. Elias Marín Gil</p>
          <p class="doumento-usuario">CC. 12.236.232</p>
        </div>
      </div>
    </div>
  </div>
</header>
