<app-header></app-header>

<main class="main-contenedor-add-remisor">
  <form [formGroup]="medicForm" (ngSubmit)="onSubmit()">
    <section class="grid-main-contenedor-add-remisor">
      <img src="images/img-remisores.png" />
      <div class="form-add-paciente">
        <div class="grid-form">
          <div class="form-campos-datos-personales">
            <div>
              <label for="firstName">
                <h2>Nombre / Razón social</h2>
              </label>
              <input class="input-campo_texto" type="text" name="firstName" id="firstName" #firstName
                formControlName="firstName" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="lastName">
                <h2>Apellido</h2>
              </label>
              <input class="input-campo_texto" type="text" name="lastName" id="lastName" #lastName
                formControlName="lastName" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="documentType">
                <h2>Tipo de documento</h2>
              </label>
              <input class="input-campo_texto" type="text" name="documentType" id="documentType" #documentType
                formControlName="documentType" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="password">
                <h2>Contraseña</h2>
              </label>
              <input class="input-campo_texto" type="text" name="password" id="password" #password
                formControlName="password" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="username">
                <h2>Número de documento</h2>
              </label>
              <input class="input-campo_texto" type="text" name="username" id="username" #username
                formControlName="username" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="birthdate">
                <h2>Fecha de nacimiento</h2>
              </label>
              <input class="input-campo_texto" type="date" name="birthdate" id="birthdate" #birthdate
                formControlName="birthdate" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="address">
                <h2>Dirección consultorio</h2>
              </label>
              <input class="input-campo_texto" type="date" name="address" id="address" #address
                formControlName="address" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="phone">
                <h2>Celular</h2>
              </label>
              <input class="input-campo_texto" type="tel" name="phone" id="phone" #phone formControlName="phone" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="email">
                <h2>Correo</h2>
              </label>
              <input class="input-campo_texto" type="email" name="email" id="email" #email formControlName="email" />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
            <div>
              <label for="email2">
                <h2>Correo 2</h2>
              </label>
              <input class="input-campo_texto" type="email" name="email2" id="email2" #email2 />
              <!-- <hr /> -->
              <a><i class="icono-editar-solo fas fa-pencil-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contenedor-asignar-pacientes">
      <div class="grid-contenedor-asignar-pacientes">
        <h1 class="titulo-asiganar-paciente">Asignar paciente</h1>
        <div class="campo-documento-paciente">
          <h2>Documento del paciente</h2>
          <input class="input-campo_texto" type="text" name="" />
        </div>
        <div class="position-addbutton add-paciente-button">
          <button class="boton-sumit" type="text" name="password">
            AGREGAR PACIENTE
          </button>
        </div>
        <div class="position-addbutton-alerta buscador-alert">
          <div>
            <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
          </div>
          <p>
            No se encontraron datos relacionados. Por favor inténtelo de nuevo.
          </p>
        </div>
      </div>

      <app-users-populated-list [pre-populated]="populatedPatients"></app-users-populated-list>

      <div class="add-paciente-button add-btn-remisor">
        <button class="boton-sumit" type="submit" name="submitButton" id="submitButton" #submitButton
          [disabled]="!medicForm.valid">
          ACTUALIZAR REMISOR
        </button>
      </div>
    </section>
  </form>
</main>

<app-footer></app-footer>