<main class="main-contenedor_loguin">
  <section class="contenedor-loguin">
    <div class="grid-contenedor_loguin">
      <div class="contenedor-logo">
        <img src="images/logo-SD.png" alt="Logo" />
      </div>
      <div>
        <h1>¡Bienvenidos!</h1>
        <p>Ingresa tu usuario y contraseña</p>
      </div>
      <div>
        <h2>Usuario</h2>
        <input
          class="input-campo_texto"
          type="number"
          name="user"
          #user
          id="user"
        />
      </div>
      <div>
        <h2>Contraseña</h2>
        <input
          class="input-campo_texto"
          type="password"
          name="password"
          #password
          id="password"
        />
        <a href="#" (click)="forgotPassword(user.value, $event)">¿Olvidaste tu contraseña?</a>
      </div>
      <button class="boton-sumit" (click)="submit(user.value, password.value)">
        INICIAR SESIÓN
      </button>
      <div
        [style.visibility]="serverResponse ? 'visible' : 'hidden'"
        class="buscador-alert"
      >
        <div>
          <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
        </div>
        <p>{{ serverResponse }}</p>
      </div>
    </div>
  </section>
</main>
