<div class="main-contenedor_loguin">
  <section class="contenedor-loguin">
    <div class="grid-contenedor_loguin">
      <div class="contenedor-logo">
        <img src="../../assets/logo-SD.png" alt="Logo" />
      </div>
      <div>
        <h1>¡Bienvenidos!</h1>
        <p>Ingresa tu usuario y contraseña</p>
      </div>
      <div>
        <h2>Usuario2</h2>
        <input class="input-campo_texto" type="text" name="user" />
      </div>
      <div>
        <h2>Contraseña</h2>
        <input class="input-campo_texto" type="text" name="password" />
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      <button class="boton-sumit" type="text" name="password">
        INICIAR SESIÓN
      </button>
    </div>
  </section>
</div>
