<app-header></app-header>

<main class="main-contenedor-add-paciente">
  <section class="grid-main-contenedor-add-paciente">
    <img src="images/img-pacientes.png" />
    <section class="form-add-paciente">
      <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="grid-form">
          <div class="form-campos-datos-personales">
            <div>
              <label for="first-name"><h2>Nombre</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="first-name"
                id="first-name"
                #firstName
                formControlName="firstName"
              />
            </div>
            <div>
              <label for="last-name"><h2>Apellido</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="last-name"
                id="last-name"
                #lastName
                formControlName="lastName"
              />
            </div>
            <div>
              <label for="document-type"><h2>Tipo de documento</h2></label>
              <select
                name="document-type"
                class="input-campo_texto"
                id="document-type"
                #documentType
                formControlName="documentType"
              >
                <option value="1">Cédula</option>
                <option value="2">Documento de identidad</option>
                <option value="3">Pasaporte</option>
                <option value="4">NIT</option>
              </select>
            </div>
            <div>
              <label for="password"><h2>Contraseña</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="password"
                id="password"
                #password
                formControlName="password"
              />
            </div>
            <div>
              <label for="username"><h2>Número de documento</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="username"
                id="username"
                #username
                formControlName="username"
              />
            </div>
            <div>
              <label for="birthdate"><h2>Fecha de nacimiento</h2></label>
              <input
                class="input-campo_texto"
                type="date"
                name="birthdate"
                id="birthdate"
                #birthdate
                formControlName="birthdate"
              />
            </div>
            <div>
              <label for="address"><h2>Dirección</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="address"
                id="address"
                #address
                formControlName="address"
              />
            </div>
            <div>
              <label for="phone"><h2>Celular</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="phone"
                id="phone"
                #phone
                formControlName="address"
              />
            </div>
            <div>
              <label for="email"><h2>Correo</h2></label>
              <input
                class="input-campo_texto"
                type="text"
                name="email"
                id="email"
                #email
                formControlName="email"
              />
            </div>
          </div>
          <div class="agregar-examenes">
            <h1 class="titulo-examenes">Agregar exámenes</h1>
            <div class="nombre-examen">
              <h2>Nombre del examen</h2>
              <input class="input-campo_texto" type="text" name="" />
            </div>
            <div class="cargar-examen">
              <h2>Cargar examen</h2>
              <label class="file">
                <input
                  type="file"
                  id="file"
                  aria-label="File browser example"
                />
                <span class="file-custom"></span>
              </label>
            </div>
            <div class="cargar-lectura">
              <h2>Cargar lectura</h2>
              <label class="file">
                <input
                  type="file"
                  id="file"
                  aria-label="File browser example"
                />
                <span class="file-custom"> </span>
              </label>
            </div>
            <div class="fecha-toma-examen">
              <h2>Fecha toma del examen</h2>
              <input class="input-campo_texto" type="date" name="" />
            </div>
            <a href="" class="add-examen-button">Agregar otro examen</a>
          </div>
          <div class="add-paciente-button">
            <button
              class="boton-sumit"
              type="submit"
              [disabled]="!patientForm.valid"
            >
              AGREGAR PACIENTE
            </button>
            <p *ngIf="messages !== ''">{{ messages | json }}</p>
          </div>
        </div>
      </form>
    </section>
  </section>
</main>

<app-footer></app-footer>
