<app-header></app-header>

<main class="main-contenedor-admin">
  <section class="grid-contenedor-admin">
    <div class="editar-content">
      <h1>Pacientes</h1>
      <div class="agregar-button">
        <a href="adminaddpaciente.html"
          ><i class="icono-agregar fas fa-plus"></i
        ></a>
      </div>
      <div class="eliminar-button">
        <a href="#"><i class="icono-agregar fas fa-trash-alt"></i></a>
      </div>
      <div class="editar-button">
        <a href="admineditarpaciente.html"
          ><i class="icono-agregar fas fa-pencil-alt"></i
        ></a>
      </div>
    </div>
    <div class="buscador">
      <input class="input-campo_busqueda" type="text" name="user" />
      <div class="buscador-button">
        <a href="#"><i class="iconoBuscar fas fa-search"></i></a>
      </div>
    </div>
    <div class="buscador-alert">
      <div>
        <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
      </div>
      <p>No se encontraron datos relacionados. Por favor inténtelo de nuevo.</p>
    </div>

    <div class="lista-pacientes-busqueda-seleccion">
      <div class="lista-pacientes-titulo-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>FECHA CREACIÓN PACIENTE</div>
        <div>DOCUMENTO</div>
        <div>NOMBRES Y APELLIDOS DEL PACIENTE</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>

      <div class="main-paginacion-examenes">Paginacion</div>
    </div>
  </section>

  <section class="grid-contenedor-admin">
    <div class="editar-content">
      <h1>Remisores</h1>
      <div class="agregar-button">
        <a href="adminaddmedico.html"
          ><i class="icono-agregar fas fa-plus"></i
        ></a>
      </div>
      <div class="eliminar-button">
        <a href="#"><i class="icono-agregar fas fa-trash-alt"></i></a>
      </div>
      <div class="editar-button">
        <a href="admineditarmedico.html"
          ><i class="icono-agregar fas fa-pencil-alt"></i
        ></a>
      </div>
    </div>
    <div class="buscador">
      <input class="input-campo_busqueda" type="text" name="user" />
      <div class="buscador-button">
        <a href="#"><i class="iconoBuscar fas fa-search"></i></a>
      </div>
    </div>
    <div class="buscador-alert">
      <div>
        <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
      </div>
      <p>No se encontraron datos relacionados. Por favor inténtelo de nuevo.</p>
    </div>

    <div class="lista-pacientes-busqueda-seleccion">
      <div class="lista-pacientes-titulo-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>FECHA CREACIÓN REMISOR</div>
        <div>DOCUMENTO</div>
        <div>NOMBRES Y APELLIDOS DEL REMISOR</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>
      <div class="lista-pacientes-contenido-seleccion">
        <input type="checkbox" class="input-checkbox" name="" />
        <div>12/01/2022</div>
        <div>CC. 215624852</div>
        <div>Luis Eduardo Charry</div>
      </div>

      <div class="main-paginacion-examenes">Paginacion</div>
    </div>
  </section>
</main>

<footer>
  <div class="info-contacto">
    <p>
      Si tienes algún inconveniente con los resultados puedes escribirnos a
      <span>examenes@sdiagnosticovisual.com</span> o llamarnos al
      <span>320 2579898</span>
    </p>
  </div>
  <img
    class="btn-whatsapp"
    src="https://clientes.dongee.com/whatsapp.png"
    width="64"
    height="64"
    alt="Whatsapp"
    onclick="window.location.href='https://wa.me/573224509872?text=Hola!%20Tengo%20una%20inquietud%20con%20mis%20resultados'"
  />
</footer>
