<app-header></app-header>

<main class="main-contenedor-admin">
  <section class="grid-contenedor-admin">
    <div class="editar-content">
      <h1>Pacientes</h1>
      <div class="agregar-button">
        <a href="adminaddpaciente.html"
          ><i class="icono-agregar fas fa-plus"></i
        ></a>
      </div>
      <div class="eliminar-button">
        <a href="#"><i class="icono-agregar fas fa-trash-alt"></i></a>
      </div>
      <div class="editar-button">
        <a href="admineditarpaciente.html"
          ><i class="icono-agregar fas fa-pencil-alt"></i
        ></a>
      </div>
    </div>
    <div class="buscador">
      <input class="input-campo_busqueda" type="text" name="user" />
      <div class="buscador-button">
        <a href="#"><i class="iconoBuscar fas fa-search"></i></a>
      </div>
    </div>
    <div class="buscador-alert">
      <div>
        <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
      </div>
      <p>No se encontraron datos relacionados. Por favor inténtelo de nuevo.</p>
    </div>

    <app-users-selectable-list role="patient"></app-users-selectable-list>
  </section>

  <section class="grid-contenedor-admin">
    <div class="editar-content">
      <h1>Remisores</h1>
      <div class="agregar-button">
        <a href="adminaddmedico.html"
          ><i class="icono-agregar fas fa-plus"></i
        ></a>
      </div>
      <div class="eliminar-button">
        <a href="#"><i class="icono-agregar fas fa-trash-alt"></i></a>
      </div>
      <div class="editar-button">
        <a href="admineditarmedico.html"
          ><i class="icono-agregar fas fa-pencil-alt"></i
        ></a>
      </div>
    </div>
    <div class="buscador">
      <input class="input-campo_busqueda" type="text" name="user" />
      <div class="buscador-button">
        <a href="#"><i class="iconoBuscar fas fa-search"></i></a>
      </div>
    </div>
    <div class="buscador-alert">
      <div>
        <a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
      </div>
      <p>No se encontraron datos relacionados. Por favor inténtelo de nuevo.</p>
    </div>

    <app-users-selectable-list role="medic"></app-users-selectable-list>
  </section>
</main>

<app-footer></app-footer>
