<div class="lista-pacientes-busqueda-seleccion" [formGroup]="selectableGroup">
  <div class="lista-pacientes-titulo-seleccion">
    <input type="checkbox" class="input-checkbox" formControlName="checkAll" (change)="checkAllClick($event)" />
    <div>FECHA CREACIÓN {{roleText}}</div>
    <div>DOCUMENTO</div>
    <div>NOMBRES Y APELLIDOS DEL {{roleText}}</div>
  </div>
  <div formArrayName="usersArray">
    <!--<div class="lista-pacientes-contenido-seleccion" *ngFor="let user of usersList.controls; let i=index">-->
    <div class="lista-pacientes-contenido-seleccion" *ngFor="let user of users; let i=index">
      <input type="checkbox" class="input-checkbox" [formControlName]="i" (change)="checkClick(user.id, $event)" [value]="user.id" />
      <div>{{ user.createdAt | date: "MMMM d, y":"-0500":"es" }}</div>
      <div>CC. {{ user.username }}</div>
      <div>{{ user.firstName + " " + user.lastName }}</div>
    </div>
  </div>
  <mat-paginator
    [length]="paginatorData.length"
    [pageSize]="paginatorData.pageSize"
    (page)="pageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
